<ng-container *ngIf="users && closeUserList">
  <div *ngFor="let user of users">
    <div class="user">
      Id: {{user.id}} <br><br>
      Username: {{user.userName}} <br><br>
      Roles:
      <span *ngFor="let role of user.roles">{{role.roles}}  </span>
      <br><br>
      <div class="deleteButtonDiv">
        <button class="deleteButton" (click)="deleteUser(user.id)">Delete user</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="closeCreateList">
  <div class="createUser">
    <p class="title">Create User</p>

    <label>Username (format: email)</label>
    <input type="text" required="required"
           #usernameInput="ngModel" [(ngModel)]="userName">

    <label>Roles (1 - ADMIN, 2 - USER)</label>
    <input type="number" required="required"
           #roleInput="ngModel" [(ngModel)]="roleId">

    <br><br>

    <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
         class="alert">
      Username is required
    </div>
    <div *ngIf="roleInput.invalid && (roleInput.dirty || roleInput.touched)"
         class="alert">
      Role is required
    </div>

    <button (click)="usernameInput.valid && roleInput.valid && addUser()">Add user</button>



    <div class="success" *ngIf="success && seeSuccess">
      <br>
      You successfully created user: <br> <br>
      Username: {{success.userName}}  <br>
      <br>
      Id: {{success.id}} <br>
      Role:
      <span *ngFor="let role of success.roles">{{role.roles}}  </span>
    </div>
    <div class="problem" *ngIf="problem && seeProblem">
      <br>
      An error occurred: <br><br>
      Details: {{problem.detail}} <br>
      Status: {{problem.status}} <br>
      Title: {{problem.title}} <br>
    </div>
  </div>

</ng-container>
