<ng-container *ngIf="vaccinatedUsers && closeVaccinatedUserList">
  <div *ngFor="let user of vaccinatedUsers">
    <div class="user">
      Id: {{user.id}} <br><br>
      Username: {{user.user.userName}} <br><br>
      Term date: {{user.term.vaccinationDate}} <br><br>
      <div class="deleteButtonDiv">
        <button class="deleteButton" (click)="deleteVaccinatedUser(user.id)">Delete user</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="closeCreateList">
  <div class="addVaccUser">
    <p class="title">Add Vaccinated User</p>
    <label>User Id</label>
    <input type="number" required="required"
           #userIdInput="ngModel" [(ngModel)]="userId">

    <label>Term Id</label>
    <input type="number" required="required"
           #termIdInput="ngModel" [(ngModel)]="termId">
    <br><br>

    <div *ngIf="userIdInput.invalid && (userIdInput.dirty || userIdInput.touched)"
         class="alert">
      User Id is required
    </div>
    <div *ngIf="termIdInput.invalid && (termIdInput.dirty || termIdInput.touched)"
         class="alert">
      Term Id is required
    </div>

    <button (click)="userIdInput.valid && termIdInput.valid && addVaccinatedUser(userId, termId)">Add user</button>

    <div class="success" *ngIf="success && seeSuccess">
      <br>
      You successfully added vaccinated user: <br> <br>
      Id: {{success.id}}  <br>
      <br>
      Username: {{success.user.userName}} <br>
      Vaccination date: {{success.term.vaccinationDate}} <br>
    </div>
    <div class="problem" *ngIf="problem && seeProblem">
      <br>
      An error occurred: <br><br>
      Details: {{problem.detail}} <br>
      Status: {{problem.status}} <br>
      Title: {{problem.title}} <br>
    </div>
  </div>
</ng-container>

