<div class="controllButtons">
  <div class="termButton">
    <button (click)="clickLoad()">Load terms/close</button>
  </div>
  <div class="termButton">
    <button (click)="openCreateTermTable()">Create terms/close</button>
  </div>
  <div style="clear:both;"></div>
</div>
<br/>
<ng-container *ngIf="vaccinationTerms && closeTerm">
  <div *ngFor="let term of vaccinationTerms">
    <div class="term">
      {{term.vaccinationDate}} <br>
      <br>
      {{term.facility.country}} <br>
      {{term.facility.state}} <br>
      {{term.facility.city}} <br>
      {{term.facility.address}} <br>
      <div class="deleteButtonDiv">
        <button class="deleteButton" (click)="deleteTerm(term.id)">Delete term</button>
      </div>

    </div>
  </div>
</ng-container>
<ng-container *ngIf="createTermValue">
  <div class="createTerm">
    <p class="title">Create Term</p>
    <input type="text" [(ngModel)]="vaccinationDate"> Date
    <input type="number" [(ngModel)]="facilityId"> Facility id
    <br><br>
    <button (click)="addTerm()">Add term</button>
  </div>
</ng-container>

